@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
  --leading: 1.4;
  --leading-short: 1.3;
  --leading-slim: 1.2;
  --leading-fine: 1.1;
  --leading-flat: 1;
  --kerning: normal;
  --kerning-tight: -0.04ch;
  --kerning-loose: 0.1ch;
  --heading-kerning: -0.015em;
  --heading-line-height: var(--leading-fine);
  --heading-font-family: var(--font-display);
  --heading-font-weight: var(--font-bold);
  --font-base: "Rosart","Georgia Pro",Georgia,serif;
  --font-display: "Moderat",serif;
  --font-accent: "Family","Georgia Pro",Georgia,"URW Bookman","URW Bookman L",serif;
  --font-mono: "Roboto Mono",ui-monospace,monospace;
  --font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --space-2xs: clamp(0.375rem,0.3414rem + 0.1678vi,0.5rem);
  --space-xs: clamp(0.5625rem,0.5122rem + 0.2517vi,0.75rem);
  --space-s: clamp(0.75rem,0.6829rem + 0.3356vi,1rem);
  --space-m: clamp(1.125rem,1.0243rem + 0.5034vi,1.5rem);
  --space-l: clamp(1.5rem,1.3658rem + 0.6711vi,2rem);
  --space-xl: clamp(1.875rem,1.7072rem + 0.8389vi,2.5rem);
  --space-2xl: clamp(3rem,2.7315rem + 1.3423vi,4rem);
  --space-3xl: clamp(3.75rem,3.4144rem + 1.6779vi,5rem);
  --space-4xl: clamp(5.625rem,5.1216rem + 2.5168vi,7.5rem);
  --space-2xs-xs: clamp(0.375rem,0.2743rem + 0.5034vi,0.75rem);
  --space-xs-s: clamp(0.5625rem,0.4451rem + 0.5872vi,1rem);
  --space-s-m: clamp(0.75rem,0.5487rem + 1.0067vi,1.5rem);
  --space-m-l: clamp(1.125rem,0.8901rem + 1.1745vi,2rem);
  --space-l-xl: clamp(1.5rem,1.2315rem + 1.3423vi,2.5rem);
  --space-xl-2xl: clamp(1.875rem,1.3045rem + 2.8523vi,4rem);
  --space-2xl-3xl: clamp(3rem,2.4631rem + 2.6846vi,5rem);
  --space-3xl-4xl: clamp(3.75rem,2.7433rem + 5.0336vi,7.5rem);
  --space-s-l: clamp(0.75rem,0.4144rem + 1.6779vi,2rem);
  --space-l-3xl: clamp(1.5rem,0.5604rem + 4.698vw,5rem);
  --size-step-8: clamp(2.3125rem,0.1313rem + 10.906vi,10.4375rem);
  --size-step-7: clamp(2.0625rem,0.7706rem + 6.4597vi,6.875rem);
  --size-step-6: clamp(1.8125rem,1.0742rem + 3.6913vi,4.5625rem);
  --size-step-5: clamp(1.6875rem,1.2177rem + 2.349vi,3.4375rem);
  --size-step-4: clamp(1.5625rem,1.2773rem + 1.4262vi,2.625rem);
  --size-step-3: clamp(1.4375rem,1.2865rem + 0.755vi,2rem);
  --size-step-2: clamp(1.3125rem,1.1951rem + 0.5872vi,1.75rem);
  --size-step-1: clamp(1.1875rem,1.1036rem + 0.4195vi,1.5rem);
  --size-step-0: clamp(1.0625rem,0.9954rem + 0.3356vi,1.3125rem);
  --size-step--1: clamp(1rem,0.9664rem + 0.1678vi,1.125rem);
  --size-step--2: clamp(0.875rem,0.8414rem + 0.1678vi,1rem);
  --size-step--3: clamp(0.8125rem,0.7957rem + 0.0839vi,0.875rem);
  --size-step--4: clamp(0.625rem,0.7043rem + -0.0839vi,0.6875rem);
  --radius: 0.5em;
  --radius-l: 2em;
  --radius-m: 1em;
  --radius-s: 0.25em;
  --measure: 65ch;
  --measure-xs: 20ch;
  --measure-s: 35ch;
  --measure-m: 45ch;
  --measure-l: 75ch;
  --text-size-base: var(--size-step-0);
  --text-size-lede: var(--size-step-1);
  --text-size-meta: var(--size-step--1);
  --text-size-heading-1: var(--size-step-5);
  --text-size-heading-2: var(--size-step-4);
  --text-size-heading-3: var(--size-step-3);
  --text-size-heading-4: var(--size-step-2);
  --text-size-prose: var(--text-size-base);
  --gutter: var(--space-m);
  --gutter-column: var(--gutter);
  --gutter-row: var(--gutter);
  --space-gutter: var(--space-m);
  --space-gutter-s: var(--space-s);
  --space-gutter-l: var(--space-l);
  --space-regions: var(--space-xl);
  --region-space: var(--space-regions);
  --wrapper-max-width: 1680px;
  --flow-space: var(--space-m);
  --color-global-bg: var(--color-light);
  --color-global-text: var(--color-dark);
  --color-surface-bg: var(--color-mid);
  --color-surface-bg-interact: var(--color-mid-dark);
  --color-surface-text: var(--color-dark);
  --color-surface-text-interact: var(--color-dark);
  --color-selection-bg: var(--color-dark);
  --color-selection-text: var(--color-light);
  --color-disabled: var(--color-mid);
  --color-accent: currentColor;
  --color-error: #c8484f;
  --color-warning: #f5a03c;
  --color-success: #92a056;
  --color-status-success: #8cd039;
  --color-status-success-shade: #67a020;
  --color-status-success-glare: #acd877;
  --color-status-warning: #f6d200;
  --color-status-warning-shade: #b99d00;
  --color-status-warning-glare: #f9e159;
  --color-status-error: #f8473b;
  --color-status-error-shade: #b0180d;
  --color-status-error-glare: #f85a4f;
  --stroke-weight-light: 1px;
  --stroke-weight-medium: 3px;
  --stroke-weight-heavy: 6px;
  --stroke: var(--stroke-weight-light) solid var(--stroke-color,currentColor);
  --stroke-mid: var(--stroke-weight-light) solid var(--stroke-mid-color,var(--color-mid));
  --text-decoration-thickness: 2px;
  --text-decoration-color: var(--color-secondary);
  --focus-ring-width: 2px;
  --focus-ring-color: currentColor;
  --focus-ring-offset: 0.25lh;
  --focus-ring-style: solid;
  --small-screen: 1
}


*::selection{
  background: violet;
  color:white !important;
  background-clip: none
}
*{
  margin: 0;
  padding: 0;
   /* font-family: var(--font-montserrat); */
  /* outline: 2px solid blue; */
}
body{
  /* background: #0D1117; */
  background-color: #e5e5f7;
opacity: 1;
background-image: radial-gradient(#cbcbcb 0.5px, #161719 0.5px);
background-size: 10px 10px;
  /* background: linear-gradient(to right, #232526, #161719); */
  color: white;
}
.primary-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}
.primary-gradient_2 {
  background: linear-gradient(90deg, #ff930f 0%, hsla(58, 100%, 68%, 1) 100%);
}
.primary-gradient_2_hover:hover {
  background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
}
.gradient-text {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  transition: background 0.3s ease;
}
.gradient-text::selection {
  background: #adff2f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: violet;
  background-clip: text;
  color: transparent;
}
.gradient-text2 {
  background: linear-gradient(129deg, #e2995f 0%,#ff7000  10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  transition: background 0.3s ease;
}
.hover\:gradient-text:hover {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease;
}

/* @keyframes shadow-pulse {
  0% {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 16px;
  }
  50% {
    box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 24px;
  }
  100% {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 16px;
  }
}

@layer utilities {
  .shadow-pulse {
    animation: shadow-pulse 1.5s 1;
  }
} */

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


.navLink{
  position: relative;
}
.navLink:hover::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  animation: withAny 0.5s ease-in-out forwards;
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  /* visibility: hidden; */
}

@keyframes withAny {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

:root {
  /* --font-inter: Inter, sans-serif; */
  /* --font-spaceGrotesk: Space_Grotesk, sans-serif; */
  /* --font-roboto: Roboto, sans-serif; */
  --font-montserrat: Montserrat, sans-serif;
  /* --font-poppins: Poppins, sans-serif; */
  /* --font-playfairDisplay: Playfair Display, serif; */
  /* --font-firaSans: Fira Sans, sans-serif; */
  --font-lora: Lora, serif;
}

/* Font classes for headings */
/* .font-heading-inter {
  font-family: var(--font-inter);
}

.font-heading-spaceGrotesk {
  font-family: var(--font-spaceGrotesk);
}

.font-heading-roboto {
  font-family: var(--font-roboto);
} */

.font-heading-montserrat {
  font-family: var(--font-montserrat);
}

/* .font-heading-poppins {
  font-family: var(--font-poppins);
}

.font-heading-playfairDisplay {
  font-family: var(--font-playfairDisplay);
}

.font-heading-firaSans {
  font-family: var(--font-firaSans);
} */

.font-heading-lora {
  font-family: var(--font-lora);
}

/* Font classes for body text */
/* .font-body-inter {
  font-family: var(--font-inter);
}

.font-body-spaceGrotesk {
  font-family: var(--font-spaceGrotesk);
}

.font-body-roboto {
  font-family: var(--font-roboto);
} */

.font-body-montserrat {
  font-family: var(--font-montserrat);
}

/* .font-body-poppins {
  font-family: var(--font-poppins);
}

.font-body-playfairDisplay {
  font-family: var(--font-playfairDisplay);
} */

/* .font-body-firaSans {
  font-family: var(--font-firaSans);
}

.font-body-lora {
  font-family: var(--font-lora);
} */


.hide-scrollbar {
  overflow: -moz-scrollbars-none; /* For older Firefox versions */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* Webkit-specific */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 12px; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff7000; /* Scrollbar color */
  border-radius: 11px; /* Rounded corners for the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e69900; /* Color when hovering over the scrollbar */
}
@keyframes glow {
  0% {
    /* opacity: 0; */
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.8), 0 0 0 0 rgba(34, 197, 94, 0.6);
  }
  100% {
    /* opacity: 1; */
    box-shadow: 0 0 300px 10px rgba(34, 197, 94, 1), 0 0 300px 10px rgba(34, 197, 94, 1);
  }
}
.skill-section-custom-scrollbar {
  /* overflow-y: auto;
  overflow-x: hidden;
  width: 200px;
  height: 200px;
  padding: 10px; */
  /* background: transparent; */
  /* height: 10px; */
}

.skill-section-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff930f !important;
}

.skill-section-custom-scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07); */
  background-color: transparent;
}

.skill-section-custom-scrollbar::-webkit-scrollbar {
  /* width: 2px; */
    width: 10px;
  height: 10px;
  background-color: transparent;
}

.skill-section-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  height: 10px;
  width: 2px;
  height: 2px;
}


